<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>差异明细</title>
    <link rel="stylesheet" href="../../../frame/layui/css/layui.css">
    <link rel="stylesheet" href="../../../frame/static/css/style.css">
</head>
<body class="body">
    <div class="layui-card-header">
		<i class="layui-icon">  </i> <span class="layui-breadcrumb"
		lay-separator=">" style="visibility: visible;"> <a>您现在的所在位置</a>
		<span lay-separator="">&gt;</span> <a>财务管理</a> <span
		lay-separator="">&gt;</span><span lay-separator="">&gt;</span> <a>账务管理</a> <span
		lay-separator="">&gt;</span> <cite><a>差异明细</a></cite></span>
	</div>
	<div style="width: 100%;height: 40px;margin-top: 20px;">
		<div style="float: left;margin-top: inherit;">本地交易数据</div>
		<div class="layui-inline" style="float: right;margin-right: 10%;">
			<button class="layui-btn layui-btn layui-btn-normal" lay-submit="" lay-filter="demo-1" title="平账">平账</button>
		</div>
	</div>	
<!-- 本地交易数据 -->
<table id="localTransactionList" lay-filter="localTransactionTable"></table>
<!-- 渠道交易数据 -->
<div>渠道交易数据</div>
<table id="channelTradingList" lay-filter="channelTradingTable"></table>
<script type="text/javascript" src="../../../frame/layui/layui.js"></script>
<script type="text/javascript" src="../../../js/index.js"></script>
<script type="text/javascript" src="../../../js/market/account/queryDifferenceDetailsIndex.js"></script>
</body>
</html>		