@charset "utf-8";

.caption{
	height: 30px; 
	line-height: 30px; 
	margin-left: 10px;
}
.layui-header {
    background: none;
}
.layui-col-xs6 {
    width: 100%;
}
.layui-collapse{
	margin-top: 20px; 
	width: 80%;
}